<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{.post.Title}}</h1>
    <h3>{{.post.Author.Username}}</h3>
    <p><small>{{.post.CreatedAt.Format "Jan 02, 2006 at 15:04"}}</small></p>
    <p class="post-body">{{.post.Body}}</p>    
    <a href="/">Back to main page</a>
</body>
</html>
